<h1><%= @offer.name %>の詳細ページ</h1>

<p><%= @offer.description %></p>
<% if current_user.own_offer?(@offer) %>
  <%= link_to '編集する', edit_offer_path(@offer) %>
  <%= link_to '削除する', offer_path(@offer), method: :delete, data: { confirm: '本当に削除しますか？' } %>
  <h2>応募者一覧</h2>
  <ul>
    <% @applicants.each do |user| %>
      <li><%=link_to user.name, "/users/#{user.id}"%></li>
    <% end %>
  </ul>
<% else %>
  <%= button_to '応募する', offer_applications_path(offer_application: {offer_id: @offer.id, status: 0}), {disabled: current_user.applying?(@offer)} %>
<% end %>

